/* Set the position of the HTML element to absolute and use a custom cursor image */
html{
    position: absolute;
    cursor: url(images/closed.png) 1 5,auto;
}

/* Set basic styles for the body element */
body {
    margin: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    /* Use a custom cursor image */
    cursor: url(images/closed.png) 1 5,auto;
}

/* Define styles for the header element */
header {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 4em;
    text-align: center;
    color: #dcc034;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 0em;
    text-shadow: 1px 1px #002383;
    -webkit-text-stroke: 5px #1d56e8;
    stroke: 1px #0b2cd0;
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: skewX(-12deg);
    /* Use a custom cursor image */
    cursor: url(images/closed.png) 1 5,auto;
}

/* Define styles for the h1 element */
h1 {
    text-align: center;
    font-size: 1em;
    margin: 0;
    font-family: 'Pokemon Solid', sans-serif;
    text-shadow: 1px 1px #363c48;
    -webkit-text-stroke: 0.2px #ffffff;
    stroke: 0.1px #000000;
    position: relative;
    transform: skewX(-10deg);
}

/* Define styles for the h2 element */
h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1em;
    font-family: 'Pokemon Solid', sans-serif;
    text-shadow: #f3f6ff;
}

/* Define styles for the h3 element */
h3 {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    font-family: 'Pokemon Solid', sans-serif;
    text-shadow: 1px 1px #363c48;
    -webkit-text-stroke: 0.2px #ffffff;
    stroke: 0.1px #000000;
    position: relative;
    transform: skewX(-10deg);
}

/* Define styles for the p element */
p {
    font-size: 0.8em;
    margin: 0;
    font-family: 'Pokemon Solid', sans-serif;
    text-shadow: 1px 1px #fbfbfb;
    -webkit-text-stroke: 0.2px #ffffff;
    stroke: 0.1px #000000;
}

/* Define styles for the open and close button */
#open_button {
    text-align: center;
}
#close_button {
    text-align: center;
}

/* Define styles for the button element */
button {
  display: inline-block;
  font-family: 'Pokemon Solid', sans-serif;
  text-shadow: #f3f6ff;
  letter-spacing:1px;
  padding: 15px 15px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #1d56e8;
  background-color:#cda11f;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px grey;                                            
}

/* Defines the backdrop for the dialog box, with a blurred background image */
::backdrop {
cursor: url(images/closed.png) 1 5,auto;
backdrop-filter: blur(5px);
}

/* Defines the styles for a button on hover */
button:hover {
background-color:#D5A100;
cursor: url(images/hover.png) 1 5,auto;
}

/* Defines the styles for a button when active */
button:active {
color:#cda11f;
box-shadow: 0 5px rgba(214, 178, 178, 0.441);
transform: translateY(4px);
background-color:#1d56e8;
cursor: url(images/open.png) 1 5,auto;
}

/* Defines the styles for a dialog box */
dialog {
line-height: 1.3em;
color: #000610;
background-color: #85ab86;
top: 93%;
left: 40%;
transform: translate(-50%, -50%);
width: 100%;
max-width: 600px;
max-height: 700px;
padding: 2em;
border-radius: 55px;
cursor: url(images/closed.png) 1 5,auto;
}

/* Defines a grid container for grid items */
.grid-container {
display: grid;
grid-gap: 10px;
padding: 10px;
justify-content: center;
}

/* Defines the number of columns based on screen width */
@media (min-width: 400px) {
.grid-container {
grid-template-columns: repeat(2, 1fr);
}
}

@media (min-width: 900px) {
.grid-container {
grid-template-columns: repeat(3, 1fr);
}
}

@media (min-width: 1400px) {
.grid-container {
grid-template-columns: repeat(4, 1fr);
}
}

@media (min-width: 1900px) {
.grid-container {
grid-template-columns: repeat(5, 1fr);
}
}

/* Defines styles for a grid container's articles */
.grid-container > article {
box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
padding: 1em;
background-color: #6da6c7;
border-style: solid;
border-radius: 15px;
border-color: #0075BE;
}

/* Defines styles for a grid container's article on hover */
.grid-container > article:hover {
box-shadow: 0 8px 16px 0;
}

/* Defines styles for images within a grid container */
.grid-container img {
width: 80%;
height: auto;
object-fit: cover;
}

/* Defines styles for a footer */
footer {
margin-top: 30px;
margin-bottom: 30px;
font-size: 1em;
text-align: center;
color: #dcc034;
font-family: 'Pokemon Solid', sans-serif;
letter-spacing: 0em;
text-shadow: 1px 1px #002383;
-webkit-text-stroke: 1px #1d56e8;
stroke: 0.8px #0b2cd0;
position: relative;
z-index: -1;
bottom: -10px;
transform: skewX(-12deg);
}